services:
    central:
        build:
            context: ./central-backend/
            dockerfile: ./Dockerfile
        volumes:
            - .:/app
        ports:
            - "8080:8080"
            - "8081:8081"
        env_file:
            - .env
        depends_on:
            postgres:
                condition: service_healthy
            redis:
                condition: service_healthy

    web:
        build:
            context: ./web
            target: dev
        command: ["pnpm", "run", "dev"]
        ports:
            - "5173:5173"
        env_file:
            - .env

    postgres:
        image: postgres:18
        environment:
            POSTGRES_USER: primind_user
            POSTGRES_PASSWORD: primind_password
            POSTGRES_DB: primind_db
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} || exit 1",
                ]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 5s

    migrate:
        image: arigaio/atlas:latest
        command: >
            migrate apply
            --url postgres://primind_user:primind_password@postgres:5432/primind_db?sslmode=disable
        depends_on:
            postgres:
                condition: service_healthy
        volumes:
            - ./central-backend/migrations/:/migrations

    redis:
        image: redis:8
        command: ["redis-server", "--save", "", "--appendonly", "no"]
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 5s

volumes:
    postgres_data:
        driver: local
    redis_data:
        driver: local

